/* Estilos CSS personalizados */
body {
  background:#bcffb696;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 100%;
  height: 100%;
  background: #ffffff96;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
	align-items: i;
}

svg {
  display: block;
  font: 7em 'Montserrat';
  width: 100%;
  margin-bottom: 20px;
}

.text-copy {
  fill: none;
  stroke: rgb(77, 77, 77);
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #64b9eb;
  animation-delay: -2s;
}

.text-copy:nth-child(2){
  stroke: #2007ff;
  animation-delay: -3s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(4){
  stroke: #06bd00;
  animation-delay: -5s;
}

.text-copy:nth-child(5){
  stroke: #080808;
  animation-delay: -6s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  max-width: 350%;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #06bd00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1%;
  transition: all 0.3s ease;
  cursor: pointer;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}
